body{
    padding: 50px 10px;
    box-sizing: border-box;
}
.formdesign input{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    border: 2px solid black;}
form{
    display: table;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    max-width: 500px;

}
.btn{
    padding:5px;
    width:80px;
    margin-top: 10px;
    
    }
    .formdesign{
       display: flex;
       align-items: center
       ;
    }
    .formdesign label{
        width:15%;
    }